div.actions {
  display: flex;
  gap: var(--space-s);
}

a {
  position: relative;
}

/* button */

button,
a {
  background: none;
  cursor: pointer;
  color: var(--ink);
  font-family: var(--font);
  font-weight: var(--weight-medium);
}

.button {
  padding: 1em 2em;
  position: relative;

  user-select: none;
  text-align: center;
  white-space: nowrap;

  background: var(--blue);

  outline: unset;
  border-radius: var(--corners);
}

.button:is(:hover, :focus-visible) {
  background: var(--blue-light);
}

.button:active {
  background: var(--blue-dark);
}

/* outline button / seconadry button */

.button.outline {
  background: none;
  border: var(--border-light);
}

.button.outline:is(:hover, :focus-visible) {
  color: var(--blue-lighter);
  border-color: var(--blue-lighter);
  filter: saturate(2);
}
.button.outline:active {
  color: var(--blue-light);
  border-color: var(--blue-light);
}

/* Text buttons and acnhors  */
:is(button, a).text {
  padding: 0.5em 1em;
  background: none;
  border: none;
  color: var(--white);
  --link-hover: var(--green-lighter);
  --link-active: var(--green);
}
.text:is(:hover, :focus-visible) {
  color: var(--link-hover) !important;
}
.text:active {
  color: var(--link-active) !important;
}

.text.green {
  color: var(--green);
  --link-hover: var(--green-lighter);
  --link-active: var(--green-dark);
}
.text.violet {
  color: var(--violet);
  --link-hover: var(--violet-light);
  --link-active: var(--violet-dark);
}
.text.blue {
  color: var(--blue-lighter);
  --link-hover: var(--blue-light);
  --link-active: var(--blue);
}

/* Icons */

:is(button, a).icon {
  padding: 0.5em;
  background: none;
  /* border: var(--border); */
  border-radius: 50%;
  aspect-ratio: 1 / 1;
  max-width: var(--space-l);
}

img.caret {
  transition: 0.2s ease-in-out;
}

img.caret.up {
  transform: rotate(0deg);
}
img.caret.down {
  transform: rotate(180deg);
}
img.caret.left {
  transform: rotate(90deg);
}
img.caret.right {
  transform: rotate(-90deg);
}

/* diabled buttons */

button:disabled,
a.disabled,
button.disabled {
  filter: saturate(0) brightness(0.4);
  cursor: not-allowed;
  pointer-events: none;
}

/* loading buttons */

[data-loading] [data-type="submit"] :is(.button) {
  filter: brightness(1.1);
  pointer-events: none;
  position: relative;
}
[data-loading] [data-type="submit"] :is(.button)::before {
  content: "";
  position: absolute;
  width: 20px;
  aspect-ratio: 1 / 1;
  border-radius: 50%;
  background: transparent;
  border-left: var(--ink) 2px solid;
  border-top: var(--ink) 2px solid;

  animation: rotate 1s linear infinite;

  transform: unset;

  left: calc(50% - 10px);
  bottom: -30px;

  transition: width 0.1s, height 0.2s, border 0.25s, bottom 0.25s, left 0.1s;
}

@keyframes rotate {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
