/* buttons and icons and smaller reusable bits here */

@import "forms.css";
@import "buttons.css";

/* textures and patterns */
.checkers {
  background-image: var(--checkers);
  background-size: 5px;
  filter: hue-rotate(var(--hue-rotate));
}

.diagnol {
  background-image: var(--diagnol);
  background-size: 15px;
  filter: hue-rotate(var(--hue-rotate));
}

.points {
  background-image: var(--points);
  filter: hue-rotate(var(--hue-rotate));
}

.pattern-one {
  filter: hue-rotate(var(--hue-rotate));
  background-image: var(--pattern-one);

  background-size: calc(100% / 10);
}

.pattern-two {
  filter: hue-rotate(var(--hue-rotate));
  background-image: var(--pattern-two);
  background-size: calc(100% / 5);
}

.pattern-three {
  filter: hue-rotate(var(--hue-rotate));
  background-image: var(--pattern-three);
  background-size: cover;
  background-position: center;
}

.pattern-four {
  filter: hue-rotate(var(--hue-rotate));
  background-image: var(--pattern-four);
  background-size: calc(100% / 1.5);
}
.pattern-five {
  filter: hue-rotate(var(--hue-rotate));
  background-image: var(--pattern-one);
  background-size: 150%;
  background-position: center;
}

.pattern-six {
  position: relative;
}
.pattern-six::after {
  filter: hue-rotate(var(--hue-rotate));
  content: "";
  position: absolute;
  inset: 0;
  background: var(--pattern-four);
  background-repeat: no-repeat;
  background-position: right;
  z-index: -1;
  opacity: 0.15;
}

/* borders */
.border {
  border: var(--border);
}
.border-light {
  border: var(--border-light);
}
.border-color {
  border: var(--border-color);
}
.border-highlight {
  border: var(--border-highlight);
}
.border-gradient {
  position: relative;
  background: var(--paper);
}
.border-gradient::after {
  content: "";
  position: absolute;
  inset: -1px;
  background: var(--gradient-color);
  z-index: -1;
  transition: 0.1s;
  border-radius: inherit;
}

/* Shadows  */
.shadow {
  box-shadow: var(--shadow);
}

.shadow-lines {
  box-shadow: var(--shadow-lines);
}
.shadow-lines-light {
  box-shadow: var(--shadow-lines-light);
}

/* gradient texts */

.gradient-text {
  background: var(--gradient-light);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  padding: 0.25em 0;
  max-width: max-content;
}

.gradient-text-color {
  background: var(--gradient-color);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  padding: 0.25em 0;
  max-width: max-content;
}

.gradient-text-color-light {
  background: var(--gradient-color-light);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  padding: 0.25em 0;
  max-width: max-content;
}

/* Hover underline */
:is(button, a).text,
.hover-underline,
.router-link-exact-active {
  --underline-width: 0;
  position: relative;
}

:is(button, a).text::after,
.hover-underline::after,
.router-link-exact-active::after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  width: var(--underline-width);
  height: 1px;
  background: var(--gradient-color);
  transition: 0.2s;
  border-radius: var(--corners);
}

:is(button, a).text:is(:hover, :focus-visible)::after,
.hover-underline:is(:hover, :focus-visible)::after,
a.router-link-exact-active::after {
  --underline-width: 100%;
}

/* tooltip */
.v-popper--theme-tooltip .v-popper__inner {
  background: var(--gradient-color-dark) !important;
  font-family: var(--font);
  color: var(--ink);
  padding: 12px;
  border-radius: var(--corners);
  box-shadow: var(--shadow);
}

.v-popper--theme-tooltip .v-popper__arrow-outer {
  border-color: var(--color) !important;
}

.v-popper--theme-tooltip .v-popper__arrow-inner {
  visibility: hidden;
}

/* scrollbar */

* {
  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: var(--line-width); /* Firefox */
}
/* This part is for the scrollbar track / */
*::-webkit-scrollbar {
  width: var(--line-width);
  height: var(--line-width);
}

/* / This part is for the track (the part that the thumb slides across) / */
::-webkit-scrollbar-track {
  box-shadow: var(--shadow);
  border-radius: var(--corners);
}

/* / This part is for the thumb (the part you drag) / */
::-webkit-scrollbar-thumb {
  background: var(--gradient-color);
  border-radius: var(--corners);
}

/* / This part is for the thumb when it's being hovered over  */
::-webkit-scrollbar-thumb:hover {
  filter: brightness(1.2);
}
