form,
.formkit-step-inner,
.step-transition-wrapper {
  display: grid;
  gap: 1.5rem;
}

input-field,
form :is(form-field),
.formkit-wrapper {
  display: grid;
  gap: 1rem;
}

/* 
.formkit-inner,
.formkit-outer {
  display: contents;
}

form form-field .formkit-outer {
  display: grid;
  gap: 0.1rem;
}

form-field .formkit-messages {
  color: red;
} 
*/

:is(form-field, input-field) input {
  padding: 0.5rem;
}

.radio-group {
  display: grid;
  gap: 1rem;
}

input.multiselect-tags-search {
  color: var(--ink);
  background-color: var(--paper);
  border-radius: var(--corners);
}

input,
textarea {
  background: var(--gradient-dark) !important;
  position: relative;
}

:is(input, textarea)::after {
  color: var(--paper);
  border: 1px solid var(--ink);
  border-radius: var(--corners);

  content: "";
  position: absolute;
  bottom: -1px;
  left: 0;
  height: 1px;
  width: 0%;
  background: var(--gradient-color);
}
:is(input, textarea):focus::after {
  width: 100%;
}

label {
  cursor: pointer;
}

.formkit-wrapper {
  max-width: unset !important;
  display: grid !important;
  align-items: center !important;
  gap: 1rem !important;
}

.formkit-inner {
  box-shadow: unset !important;
  position: relative !important;
}

:root {
  --fk-color-primary: var(--color) !important;
  --fk-color-border-focus: var(--color) !important;
  --fk-color-checked: var(--color) !important;
  --fk-border-radius: var(--corners) !important;
  --fk-border-box-shadow-focus: 0 0 0 2px var(--color) !important;
  --fk-border-box-shadow-decorator-checked: 0 0 0 2px var(--color) !important;
}

.formkit-inner svg * {
  fill: var(--color) !important;
}

.multiselect.is-active {
  border: unset !important;
  box-shadow: 0 0 0 2px var(--color) !important;
}

input.formkit-input {
  font-size: var(--step-0) !important;
  border-radius: var(--corners) !important;
}

.multiselect {
  border: unset !important;
  background: var(--gradient-dark) !important;
  border-radius: var(--corners) !important;
  font-size: var(--step-0) !important;
  padding: 0.5rem !important;
}
