form,
.formkit-step-inner,
.step-transition-wrapper {
  display: grid;
  gap: var(--space-m);
}

input-field,
form :is(form-field),
.formkit-wrapper {
  display: grid;
  gap: var(--space-s);
}

:is(form-field, input-field) input {
  padding: var(--space-2xs);
}

.radio-group {
  display: grid;
  gap: var(--space-s);
}

input.multiselect-tags-search {
  color: var(--ink);
  background-color: var(--paper);
  border-radius: var(--corners);
}

input:not(.multiselect input, .formkit-inner input, input[type="file"]),
textarea,
.formkit-inner {
  position: relative;
  border: var(--border-dark);
}

:is(
    input:not(.multiselect input, .formkit-inner input, input[type="file"]),
    textarea,
    .formkit-inner,
    .formkit-fieldset,
    .multiselect.is-active,
    form-field.file-upload
  ):is(:focus-visible, :focus-visible, :focus-within, :active) {
  box-shadow: var(--shadow) !important;
}

.formkit-fieldset {
  border: unset !important;
  /* box-shadow: 0 0 0 1px var(--green) !important; */
}

.multiselect input {
  background: unset;
}

label {
  cursor: pointer;
}

.formkit-wrapper {
  max-width: unset !important;

  display: grid !important;
  align-items: center !important;
  gap: var(--space-s) !important;
}

:is([data-type="checkbox"], [data-type="radio"]) .formkit-wrapper {
  display: flex !important;
}
:is([data-type="checkbox"], [data-type="radio"]) .formkit-decorator {
  width: var(--step-0) !important;
  height: var(--step-0) !important;
  border-radius: (var(--corners) / 8) !important;
}

:is([data-type="checkbox"], [data-type="radio"]) .formkit-inner {
  background: var(--gray-darkest) !important;
  border-radius: (var(--corners) / 8) !important;
}

.formkit-inner {
  box-shadow: unset !important;
  position: relative !important;
}

:root {
  --fk-color-primary: var(--green) !important;
  --fk-color-border-focus: var(--green) !important;
  --fk-color-checked: var(--green) !important;
  --fk-color-border: var(--gray) !important;
  --fk-border-radius: var(--corners) !important;
  --fk-border-box-shadow-focus: 0 0 0 2px var(--green) !important;
  --fk-border-box-shadow-decorator-checked: 0 0 0 2px var(--green) !important;
  --fk-font-family: var(--font) !important;
  --fk-font-size: var(--step-0) !important;

  --fk-padding-input: var(--space-xs) var(--space-3xs) !important;

  --fk-font-weight: var(--weight-light) !important;
  --fk-line-height: 1.4 !important;
  --fk-color-input: var(--ink) !important;
  --multistep-radius: var(--corners) !important;
  --multistep-color-success: var(--green) !important;
  --fk-color-help: var(--gray-light) !important;

  --fk-margin-outer: 0 !important;

  --fk-margin-decorator: 0 !important;

  /* vueform/multistep */

  --ms-bg: var(--gradient-dark) !important;
  --ms-border-color: var(--ink) !important;
  --ms-radius: var(--corners) !important;

  --ms-tag-bg: var(--green) !important;
  --ms-tag-color: var(--paper) !important;
  --ms-tag-radius: var(--corners) !important;

  --ms-dropdown-bg: var(--paper) !important;
  --ms-dropdown-border-color: transparent !important;

  --ms-dropdown-color: var(--ink) !important;
  --ms-dropdown-radius: var(--corners) !important;
}

.formkit-inner svg * {
  fill: var(--white) !important;
}

.multiselect.is-active {
  border: unset !important;
  box-shadow: 0 0 0 2px var(--green) !important;
}

.multiselect {
  border: unset !important;
  padding: var(--space-2xs) !important;
}

[data-type="file"] input.formkit-input:not(input[type="file"]) {
  color: var(--ink) !important;
  font-size: var(--step--1) !important;
}

input.formkit-input ul li.formkit-file-item {
  display: grid !important;
  grid-template-columns: 0.25fr 1fr 0.25fr !important;
  align-content: center !important;
}

form-field.file-upload {
  display: grid;
  justify-content: start;
  background: var(--gradient-dark);
  --ink: hsla(180, 0%, 95%, 1);
  border-radius: var(--corners);
  gap: var(--space-xxs);
  padding: var(--space-s);
  align-items: start;
}

input[type="range"] {
  display: block;
  width: 100%;
  border-radius: var(--corners);
  background: var(--gradient-dark);
}
input[type="range"]::-webkit-slider-runnable-track {
  width: 100%;
  height: var(--line-width) !important;
  cursor: pointer;
  border-radius: var(--corners);
  background: var(--gradient-color);
}

.not-valid {
  color: var(--warning);
}
.valid {
  color: var(--success);
}
