/* P reset */
@import "preset.css";

/* S etup */
@import "setup.css";

/* S setings */
@import "settings.css";
@import "developer-styles.css";

/* S tructure */
@import "structure.css";

/* T ypography */
@import "typography.css";

/* C omponents */
@import "components.css";

/* S tuff (modules) */
/* @import "modules.css"; */

/* S ections and more stuff */

/* then other contextual styles */

html {
  scroll-behavior: smooth;
  scroll-padding-top: 4rem;
}
body {
  background-color: var(--paper);
  color: var(--ink);
  position: relative;
  overflow-x: hidden;
}

#__nuxt,
.display-contents {
  display: contents;
}

.hide {
  display: none;
}

.page-enter-active,
.page-leave-active {
  transition: all 0.4s;
}
.page-enter-from,
.page-leave-to {
  opacity: 0;
  filter: blur(1rem);
}

/* #todo nuxt3 transitions */
.fade-enter-active,
.fade-leave-active {
  transition: opacity 0.5s ease;
}
.fade-enter,
.fade-leave-to {
  opacity: 0;
}

:focus {
  outline: none;
}

path,
circle {
  vector-effect: non-scaling-stroke;
  stroke-width: var(--line-width);
}
