body {
  display: grid;
  grid-auto-rows: auto 1fr auto;
  min-height: 100vh; /* be at least a full viewport height */
}

inner-column {
  display: block;
  width: 100%;
  max-width: 1200px; /* could be a variable in settings */
  margin-right: auto;
  margin-left: auto;
  /* padding: var(--space-l) var(--space-s); a loose default */
  padding: var(--space-xl) var(--space-s);
}

inner-column.none {
  width: unset;
  padding: 0;
  max-width: unset;
  margin-right: unset;
  margin-left: unset;
  padding: unset;
}

body.index main inner-column {
  /* max-width: 1600px; */
}
@media (min-width: 1700px) {
  body.index inner-column {
    /* max-width: 1750px; */
  }
}
/*.site-header {
	position: sticky;
	top: 0;
	z-index: 5;
}*/
