/* Should we pull in @fonts here? */
/* don't think you can... might have to be higher up (the top of) the food chain! */

@import url("https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&display=swap");

.booming-voice {
  font-family: var(--font);

  font-size: var(--step-4);
  font-weight: var(--weight-semibold);
  /* line-height: 2.875rem; */
  letter-spacing: -0.03em;
}

.loud-voice {
  font-family: var(--font);

  font-size: var(--step-3);
  font-weight: var(--weight-semibold);
  letter-spacing: -0.02em;
}

@media (min-width: 600px) {
  .loud-voice {
    /* font-weight: 100; */
    font-weight: var(--weight-medium);
  }
}

.attention-voice,
article.body :is(h2, h3) a {
  font-family: var(--font);
  font-size: var(--step-2);
  font-weight: var(--weight-medium);
  line-height: 1.1;
}
article.body h2 a {
  font-size: var(--step-2);
}

.notice-voice {
  font-family: var(--font);
  font-size: var(--step-1);
  line-height: 1.6;
  font-weight: var(--weight-light);
  color: var(--gray);
}
.firm-voice {
  font-family: var(--font);
  font-size: var(--step-1);
  line-height: 1.6;
  font-weight: var(--weight-semibold);
}

.teaser-voice {
  font-family: var(--font);
  font-size: var(--step-0);
  line-height: 1.6;
  color: var(--color);
  font-weight: var(--weight-light);
  /* text-transform: uppercase; */
}

.calm-voice,
p,
a,
li,
button {
  font-family: var(--font) !important;
  font-size: var(--step-0);
  line-height: 1.6;

  font-weight: var(--weight-light);
  color: var(--ink);
}

:is(li, p) a {
  color: var(--color);
  /* text-decoration: underline; */
  display: inline;
  font-size: inherit;
}

em {
  font-style: italic;
}

strong {
  font-weight: var(--weight-semibold);
}

.whisper-voice {
  font-family: var(--font);

  font-size: var(--step--1);
  /* opacity: 0.8; */
  font-weight: var(--weight-light);
  color: var(--gray-light);
  letter-spacing: 0.08em;
}

.solid-voice {
  font-family: var(--font);
  font-size: var(--step-0);
  font-weight: var(--weight-semibold);
}

.micro-voice {
  font-family: var(--font);

  font-size: var(--step--2);
  font-weight: var(--weight-light);
  letter-spacing: 0.08em;
}

/* these would be scoped to section or to an article element */
/* this is just a loose setting for now */
/* or smaller group of article-like styles such as a <text-content> custom element */
p + p {
  /* margin-top: 1em; */
}

h2 + p {
  margin-top: 4px;
}

code {
  font-family: monospace;
  font-size: inherit;
  color: green;
  border: unset;
}

.validation-warn {
  color: var(--warning);
}

.highlight {
  background-color: var(--highlight);
  color: var(--ink);
}
